* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: purple;
}

.container {
  display: flex;
  height: fit-content;
}

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  margin: 30px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h2 {
  margin: 5px;
}

.box p {
  height: 100%;
  margin: 5px;
}

.box span {
  position: absolute;
}

.roles {
  display: flex;
  margin: 5px;
}
